div.report-print {
	font-weight: bold;
}
div.report-print a {
	/*float: right;
	 background: transparent;*/
}
@media print {
	/* remove backgrounds */
	body {
		font-size: 12pt;
	}
	.report-description-text a:link:after, .report-description-text 	a:visited:after, body .report-additional-reports a:link:after, body .report-additional-reports 	a:visited:after {
		content: " (" attr(href) ") ";
		font-size: 90%;
	}
	
	.r_details h3 a.r_title:link:after, .r_details h3 a.r_title:visited:after {
		content: " (" attr(href) ") ";
		font-size: 90%;
		display: inline-block;
		text-decoration: none;
	}
	.credibility a:link:after, .credibility a:visited:after {
		display: none;
	}
	a {
		color: black;
		text-decoration: underline;
	}
	body#page, div#middle {
		background: #fff none !important;
		color: black !important;
	}
	/* Hide various page furniture*/
	#top-bar, header, .submit-incident, #mainmenu, .comment-block, #footer, #oup_15, #odown_15, .report-print, #filters-box {
		display: none;
	}
	div.rapidxwpr {
		margin: auto;
		width: 100%;
		padding: 10px;
	}
	div#main {
		padding: 0;
	}
	/* Reports view styling */
	#main .left-col, #main .right-col {
		float: none;
		width: 100%;
		padding: 0;
		margin: 0;
		background: transparent none;
	}
	.left-col h1.report-title, div.report-additional-reports h4 {
		float: none;
		padding: 0;
		position: relative;
		top: 0;
		left: 0;
		background: transparent none;
		color: #000;
		border: 0;
	}
	.left-col h1.report-title a {
		display: none;
	}
	.olControlPanZoomBar {
		display: none;
	}
	.rating_value {
		color: black;
		background: none transparent;
	}
	div.action-taken {
		background: transparent !important;
		border: none !important;
		padding: 0 !important;
	}
	#actionable-badge {
		background: transparent !important;
		color: black !important;
	}
	.report_detail .r_verified {
		background: #fff;
		color: black;
		font-weight: bold;
	}
	div.report-category-list a {
		color: black;
		background: #fff;
	}
	.report-when-where {
		color: black;
	}
	div#logo span {
		color: black;
	}
	div.report-additional-reports {
		background: transparent none;
		padding: 0;
		margin: 0;
	}
	p.r_date {
		position: relative;
		padding: 0;
	}
	div.report-additional-reports .r_date {
		background: transparent none;
		color: black;
	}
	div.report-additional-reports p.r_location {
		color: black;
	}
	/* Listing styling */
	#content .big-block {
		background: transparent;
		margin: 0;
		border: none;
		padding: 0;
	}
	#reports-box {
		float: none;
		width: auto;
	}
	#rb_list-view .rb_report {
		width: 750px
	}
	.rb_nav-controls {
		background: transparent;
		border: none;
		border-radius: 0;
		color: black;
	}
	.rb_nav-controls td {
		border: none;
		padding: 0;
	}
	ul.link-toggle, .rb_nav-controls ul.pager, a.ic-time, .r_details h3 a.r_comments {
		display: none;
	}
	.r_media {
		width: 200px;
	}
	.r_details {
		width: 500px;
	}
	p.r_location a {
		color: black;
	}
	.r_categories, .r_location {
		display: block !important;
	}
	a.r_category {
		height: auto;
		width: auto;
		float: none;
	}
	a.r_category span.r_cat-box {
		display: inline;
		float: none;
		width: auto;
		height: auto;
	}
	span.r_cat-desc {
		display: inline;
	}
	p.r_date {
		background: none;
		color: black;
	}
	.r_details h3, .r_details div.r_description {
		width: auto;
		color: black;
	}
	.r_details h3 a.r_title {
		color: black;
	}
	.r_photo a:link:after, .r_photo a:visited:after {
		display: none;
	}
	.r_photo {
		text-align: left !important;
	}
	.btn-show, .hover .btn-show {
		display: none;
	}
	.r_verified {
		display: block;
	}
	.r_details h3 span {
		display: inline;
		position: relative;
		top: 0px;
		left: 0;
		color: black;
		font-size: 9px;
		font-weight: normal;
		margin: 0;
		padding: 0;
		text-align: center;
		text-transform: uppercase;
		border-radius: 0;
		background: transparent !important;
	}
	.r_details h3 span:after {
		content: ")";
	}
	.r_details h3 span:before {
		content: "(";
	}
	h1 {color: black;}
}